**/hw-3.1.vcxproj.user
**/StackCalculator.Test/obj
**/.vscode
VK-Client
**/bin
**/obj
**/.vs
*.user
.directory
FIrstProjectInKubuntu
Philosophers
Third Semester Homework.code-workspace
Repos
**/DesignTimeBuild
**/v16
**/.ionide
*.code-workspace
*.csproj.user
*.user